<!-- ============================================-->


<section>
    <div class="bg-holder" style="background-image:url(assets/img/gallery/footer-bg.png);background-position:left;background-size:contain;padding:5px 3px;">
    </div>
    <!--/.bg-holder-->

    <div class="container">
        <div class="row min-vh-lg-50 min-vh-xl-75">
            <div class="col-lg-6 col-xl-5 my-2 py-9 d-none d-lg-block">
                <div class="card card-span bg-transparent border-start border-primary border-5 mt-3">
                    <div class="card-body">
                        <p class="text-light fs-2 lh-lg px-lg-3">We provide traffic management consultants so you get started quickly, contact us for a quote today!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 mb-3">
                <div class="card card-span shadow py-4 px-5">
                    <div class="card-body">
                        <form class="row g-3 align-items-center">
                            <div class="mb-3">
                                <label class="form-label" for="formGroupExampleInput">Name</label>
                                <input class="form-control form-traffico-control" id="formGroupExampleInput" type="text" placeholder="Name" />
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="formGroupExampleInput2">Email address</label>
                                <input class="form-control form-traffico-control" id="formGroupExampleInput2" type="text" placeholder="Your email address" />
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary" type="submit">GET STARTED
                        <svg class="bi bi-arrow-right ms-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"></path>
                        </svg>
                      </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ============================================-->
<!-- <section> begin ============================-->
<section class="py-5">

    <div class="container">
        <div class="row flex-center">
            <div class="col-md-6 col-xl-8 order-0">
                <p class="text-center text-md-start">All rights Reserved &copy; Your Company, 2021</p>
            </div>
            <div class="col-md-6 col-xl-3 order-1">
                <p class="text-center text-md-end text-xl-start">Made with&nbsp;
                    <svg class="bi bi-suit-heart-fill" xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#EE4D47" viewBox="0 0 16 16">
                  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"></path>
                </svg>&nbsp;by&nbsp;<a class="text-1000 fw-bold" href="https://themewagon.com/" target="_blank">ThemeWagon </a>
                </p>
                <ul class="list-unstyled list-inline mb-6 mb-md-0 text-center text-md-end text-xl-start">
                    <li class="list-inline-item mr-2">
                        <a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/i.png" alt="..." /></a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/t.png" alt="..." /></a>
                    </li>
                    <li class="list-inline-item mr-2">
                        <a class="text-decoration-none" href="#!"><img class="list-social-icon" src="assets/img/icons/f.png" alt="..." /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
<!-- <section> close ============================-->
<!-- ============================================-->